<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.txyd.database.dao.ColumnDao">

	<resultMap id="columnBean" type="com.txyd.database.bean.ColumnBean">
		<result property="tableName" column="table_name" />
		<result property="tableSchema" column="table_schema" />
		<result property="columnName" column="column_name" />
		<result property="dataType" column="data_type" />
		<result property="columnType" column="column_type" />
		<result property="extra" column="extra" />
		<result property="dataLength" column="data_length" />
		<result property="defaultValue" column="default_value" />
		<result property="comments" column="comments" />
		<result property="primaryKey" column="primary_key" />
		<result property="nullAble" column="null_able" />
		<result property="isPrimaryKey" column="is_primary_key" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		table_name,table_schema,column_name,data_type,column_type,
		extra,data_length,default_value,comments,primary_key,null_able,
		is_primary_key
	    ]]>
	</sql>
	
	
	<select id="select" resultMap="columnBean">
		SELECT
		<include refid="columns" />
		 from
	    <![CDATA[
	    (
			SELECT
				r.TABLE_NAME as TABLE_NAME,
				r.TABLE_SCHEMA as table_schema,
				r.COLUMN_NAME,
				r.DATA_TYPE,
				r.column_type,
				ifnull(r.extra,'') extra,
				ifnull(ifnull(r.CHARACTER_MAXIMUM_LENGTH,CONCAT(r.NUMERIC_PRECISION,'.',r.NUMERIC_SCALE)),'') as data_length,
				ifnull(r.column_default,'') as default_value,
				ifnull(r.COLUMN_COMMENT,'') comments,
				if(r.column_key='PRI','yes','no') as primary_key,
				if(r.is_NULLABLE='YES','yes','no') as null_able,
				if(r.column_key='PRI','true','false') as is_primary_key				
			FROM
				information_schema.`COLUMNS` r
			WHERE
				 r.TABLE_SCHEMA = #{t.tableSchema}
				 AND r.TABLE_NAME = #{t.tableName}

	    )t
	    ]]>
	</select>
</mapper>

