<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--在虚拟机环境或多网卡场景下可能需要添加host="${dubbo.host}"属性-->
    <dubbo:protocol name="dubbo" port="${dubbo.port}"/>

	<dubbo:service interface="com.txyd.lottery.cache.service.CacheService" ref="cacheServiceImpl" group="cacheService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.ActivityService" ref="activityServiceImpl" group="activityService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.RecordService" ref="recordServiceImpl" group="recordService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.ConfigService" ref="configServiceImpl" group="configService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.OrderService" ref="orderServiceImpl" group="orderService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.PlanService" ref="planServiceImpl" group="planService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.PoolService" ref="poolServiceImpl" group="poolService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.PrizeService" ref="prizeServiceImpl" group="prizeService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.RangeService" ref="rangeServiceImpl" group="rangeService"
                   protocol="dubbo" timeout="10000"/>
	<dubbo:service interface="com.txyd.lottery.activity.service.UserinfoService" ref="userinfoServiceImpl" group="userinfoService"
					protocol="dubbo" timeout="10000"/>
    <dubbo:service interface="com.txyd.lottery.activity.service.RecordService" ref="recordServiceImpl" group="recordService"
                   protocol="dubbo" timeout="10000"/>
</beans>