[mysqladmin]
user=root

[mysqld]
basedir=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686
datadir=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/data
port=3307
socket=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/mysql.sock
tmpdir=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp
pid-file=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/manager.pid
log-error=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/log.err
max_allowed_packet=16M
bind-address=127.0.0.1

character-set-server=UTF8
collation-server=utf8_general_ci
[mysqld_safe]
basedir=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686
datadir=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/data
port=3307
socket=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/mysql.sock
tmpdir=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp
pid-file=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/manager.pid
log-error=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/log.err


[client]
port=3307
socket=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/mysql.sock

default-character-set=UTF8
[manager]
port=3307
socket=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/mysql.sock
pid-file=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/temp/manager.pid
#default-mysqld-path=/app/mysql/mysql-5.6.24-linux-glibc2.5-i686/bin/mysqld.bin

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
